demos/demo-nodered-mqtt/node-red/flows/flows.json
[{"id":"6d6426b.52961d8","type":"tab","label":"Demo JaCaMo / Node-RED","disabled":false,"info":""},{"id":"7d5786c9.7bf498","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"387fe52c.0e51ea","type":"function","z":"6d6426b.52961d8","name":"build acl msg","func":"var literal = `message(\\\\\\\"${msg.payload}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `http://bob:8080/agents/bob/inbox`;\nmsg.payload = `{ \n                   \\\"sender\\\": \\\"mqtt\\\", \n                   \\\"receiver\\\": \\\"bob\\\", \n                   \\\"performative\\\": \\\"tell\\\", \n                   \\\"content\\\": \\\"${literal}\\\", \n                   \\\"msgId\\\": \\\"13\\\"\n                }`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["84a7c194.57bd3","e3d63b4e.c96ba8"]]},{"id":"84a7c194.57bd3","type":"http request","z":"6d6426b.52961d8","name":"send acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":120,"wires":[["256ee534.47d09a"]]},{"id":"256ee534.47d09a","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":120,"wires":[["a34b5605.60f938"]]},{"id":"a34b5605.60f938","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":120,"wires":[]},{"id":"40a811c9.fe617","type":"mqtt in","z":"6d6426b.52961d8","name":"","topic":"mqtt/jacamo/bob","qos":"2","datatype":"auto","broker":"7d5786c9.7bf498","x":120,"y":120,"wires":[["387fe52c.0e51ea"]]},{"id":"4e59df08.6f191","type":"comment","z":"6d6426b.52961d8","name":"send MQTT publications to bob","info":"","x":170,"y":80,"wires":[]},{"id":"97122368.a06b3","type":"mqtt out","z":"6d6426b.52961d8","name":"","topic":"","qos":"2","retain":"","broker":"7d5786c9.7bf498","x":510,"y":380,"wires":[]},{"id":"ab769cf1.80ab6","type":"http in","z":"6d6426b.52961d8","name":"","url":"mqtt","method":"post","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["dfb03826.3d6ce8","c4bc63d5.c2b88"]]},{"id":"c4bc63d5.c2b88","type":"function","z":"6d6426b.52961d8","name":"publish","func":"var content = msg.payload.content.replace(/\\\"/g,''); // retira aspas\nvar functor = content.substring(0, content.search(\"\\\\(\"));\nmsg.payload = content.substring(functor.length + 1, content.length - 1);\nmsg.topic = 'mqtt/jacamo/bob';\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["97122368.a06b3"]]},{"id":"dfb03826.3d6ce8","type":"http response","z":"6d6426b.52961d8","name":"","statusCode":"","headers":{},"x":290,"y":460,"wires":[]},{"id":"80d03538.37f6a8","type":"comment","z":"6d6426b.52961d8","name":"node-red endpoint to receice messages from Bob and send them to MQTT","info":"","x":300,"y":340,"wires":[]},{"id":"5e08e343.e6a60c","type":"inject","z":"6d6426b.52961d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":260,"wires":[["e3cd8789.fad5a8"]],"l":false},{"id":"e3cd8789.fad5a8","type":"function","z":"6d6426b.52961d8","name":"build achieve msg","func":"msg.method = 'POST';\nmsg.url = 'http://bob:8080/agents/bob/inbox';\nmsg.payload = `{ \n                   \\\"sender\\\": \\\"mqtt\\\", \n                   \\\"receiver\\\": \\\"bob\\\", \n                   \\\"performative\\\": \\\"achieve\\\", \n                   \\\"content\\\": \\\"send_msg\\\", \n                   \\\"msgId\\\": \\\"13\\\"\n                }`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["ab328fbd.b86fc","e3d63b4e.c96ba8"]]},{"id":"ab328fbd.b86fc","type":"http request","z":"6d6426b.52961d8","name":"send acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":260,"wires":[["e4802559.199248"]]},{"id":"e4802559.199248","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":260,"wires":[["2e52d0c4.9268b"]]},{"id":"2e52d0c4.9268b","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":260,"wires":[]},{"id":"746cfdb1.c1f2b4","type":"comment","z":"6d6426b.52961d8","name":"ask bob to send a msg to mqtt","info":"","x":170,"y":220,"wires":[]},{"id":"e3d63b4e.c96ba8","type":"debug","z":"6d6426b.52961d8","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":180,"wires":[]}]