demos/integration/dummyag-nodered-mqtt/node-red/flows/.flows.json.backup
[{"id":"6d6426b.52961d8","type":"tab","label":"Demo JaCaMo / Node-RED","disabled":false,"info":""},{"id":"7d5786c9.7bf498","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e59df08.6f191","type":"comment","z":"6d6426b.52961d8","name":"send MQTT publications to bob","info":"","x":170,"y":80,"wires":[]},{"id":"97122368.a06b3","type":"mqtt out","z":"6d6426b.52961d8","name":"","topic":"","qos":"2","retain":"","broker":"7d5786c9.7bf498","x":650,"y":380,"wires":[]},{"id":"ab769cf1.80ab6","type":"http in","z":"6d6426b.52961d8","name":"","url":"/inbox","method":"post","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["dfb03826.3d6ce8","c4bc63d5.c2b88","2d3cc8e5273011df"]]},{"id":"c4bc63d5.c2b88","type":"function","z":"6d6426b.52961d8","name":"publish to mqtt/jacamo/me","func":"var content = msg.payload.content.replace(/\\\"/g,''); // retira aspas\n//var functor = content.substring(0, content.search(\"\\\\(\"));\nmsg.payload = content //.substring(functor.length + 1, content.length - 1);\nmsg.topic = 'mqtt/jacamo/me';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":380,"wires":[["97122368.a06b3"]]},{"id":"dfb03826.3d6ce8","type":"http response","z":"6d6426b.52961d8","name":"","statusCode":"","headers":{},"x":290,"y":460,"wires":[]},{"id":"80d03538.37f6a8","type":"comment","z":"6d6426b.52961d8","name":"node-red endpoint to receice messages from Bob and send them to MQTT","info":"","x":310,"y":320,"wires":[]},{"id":"ce0992271db9d465","type":"function","z":"6d6426b.52961d8","name":"create ag dummy named dmqtt","func":"msg.method = 'POST';\nmsg.url = 'http://mas:8080/agents/dmqtt?only_wp=true';\nmsg.payload = `{ \n                   \\\"uri\\\": \\\"http://nodered:1880\\\", \n                   \\\"inbox\\\": \\\"http://nodered:1880/inbox\\\",\n                   \\\"type\\\": \\\"dummy agent\\\"\n                }`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":560,"wires":[["085f01824878148f"]]},{"id":"399243a876cdfece","type":"comment","z":"6d6426b.52961d8","name":"create dummy agent","info":"","x":140,"y":520,"wires":[]},{"id":"085f01824878148f","type":"http request","z":"6d6426b.52961d8","name":"send acl","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":600,"y":560,"wires":[["d8348e667a897812"]]},{"id":"d8348e667a897812","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":560,"wires":[["c74278f088848911"]]},{"id":"c74278f088848911","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":560,"wires":[]},{"id":"fa9b4190fa9031a7","type":"inject","z":"6d6426b.52961d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payloadType":"date","x":75,"y":560,"wires":[["ce0992271db9d465"]],"l":false},{"id":"2d3cc8e5273011df","type":"debug","z":"6d6426b.52961d8","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":460,"wires":[]},{"id":"e3d63b4e.c96ba8","type":"debug","z":"6d6426b.52961d8","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":180,"wires":[]},{"id":"387fe52c.0e51ea","type":"function","z":"6d6426b.52961d8","name":"build acl msg","func":"var literal = `message(\\\\\\\"${msg.payload}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `http://mas:8080/agents/bob/inbox`;\nmsg.payload = `{ \n                   \\\"sender\\\": \\\"dmqtt\\\", \n                   \\\"receiver\\\": \\\"bob\\\", \n                   \\\"performative\\\": \\\"tell\\\", \n                   \\\"content\\\": \\\"${literal}\\\", \n                   \\\"msgId\\\": \\\"13\\\"\n                }`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":120,"wires":[["e3d63b4e.c96ba8","84a7c194.57bd3"]]},{"id":"40a811c9.fe617","type":"mqtt in","z":"6d6426b.52961d8","name":"","topic":"mqtt/jacamo/bob","qos":"2","datatype":"auto","broker":"7d5786c9.7bf498","inputs":0,"x":130,"y":120,"wires":[["387fe52c.0e51ea"]]},{"id":"84a7c194.57bd3","type":"http request","z":"6d6426b.52961d8","name":"send acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":120,"wires":[["256ee534.47d09a"]]},{"id":"256ee534.47d09a","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":120,"wires":[["a34b5605.60f938"]]},{"id":"a34b5605.60f938","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":120,"wires":[]}]