demos/integration/dummyart-nodered-mqtt/node-red/flows/flows.json
[{"id":"6d6426b.52961d8","type":"tab","label":"Demo JaCaMo / Node-RED","disabled":false,"info":""},{"id":"7d5786c9.7bf498","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e59df08.6f191","type":"comment","z":"6d6426b.52961d8","name":"send MQTT publications to dmqtt","info":"","x":200,"y":420,"wires":[]},{"id":"97122368.a06b3","type":"mqtt out","z":"6d6426b.52961d8","name":"","topic":"","qos":"2","retain":"","broker":"7d5786c9.7bf498","x":670,"y":660,"wires":[]},{"id":"ab769cf1.80ab6","type":"http in","z":"6d6426b.52961d8","name":"","url":"/act","method":"post","upload":false,"swaggerDoc":"","x":120,"y":660,"wires":[["dfb03826.3d6ce8","c4bc63d5.c2b88","2d3cc8e5273011df"]]},{"id":"c4bc63d5.c2b88","type":"function","z":"6d6426b.52961d8","name":"publish to mqtt/jacamo/me","func":"var content = msg.payload.predicate.replace(/\\\"/g,''); // retira aspas\n//var functor = content.substring(0, content.search(\"\\\\(\"));\nmsg.payload = content //.substring(functor.length + 1, content.length - 1);\nmsg.topic = 'mqtt/jacamo/me';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":660,"wires":[["97122368.a06b3","2d3cc8e5273011df"]]},{"id":"dfb03826.3d6ce8","type":"http response","z":"6d6426b.52961d8","name":"","statusCode":"","headers":{},"x":310,"y":740,"wires":[]},{"id":"80d03538.37f6a8","type":"comment","z":"6d6426b.52961d8","name":"node-red endpoint to receive actions done by Bob on dmqtt and send them to MQTT","info":"","x":360,"y":600,"wires":[]},{"id":"ce0992271db9d465","type":"function","z":"6d6426b.52961d8","name":"create workspace named wmqtt","func":"msg.method = 'POST';\nmsg.url = 'http://mas:8080/workspaces/wmqtt';\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":120,"wires":[["085f01824878148f"]]},{"id":"399243a876cdfece","type":"comment","z":"6d6426b.52961d8","name":"create dummy artifact","info":"","x":170,"y":80,"wires":[]},{"id":"085f01824878148f","type":"http request","z":"6d6426b.52961d8","name":"send","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":120,"wires":[["d8348e667a897812"]]},{"id":"d8348e667a897812","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":120,"wires":[["c74278f088848911"],["35115e77489892fe"]]},{"id":"c74278f088848911","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":120,"wires":[]},{"id":"fa9b4190fa9031a7","type":"inject","z":"6d6426b.52961d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payloadType":"date","x":95,"y":120,"wires":[["ce0992271db9d465"]],"l":false},{"id":"2d3cc8e5273011df","type":"debug","z":"6d6426b.52961d8","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":740,"wires":[]},{"id":"e3d63b4e.c96ba8","type":"debug","z":"6d6426b.52961d8","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":520,"wires":[]},{"id":"387fe52c.0e51ea","type":"function","z":"6d6426b.52961d8","name":"build post","func":"msg.method = 'POST';\nmsg.url = `http://mas:8080/workspaces/wmqtt/artifacts/dmqtt/operations/doUpdateObsProperty/execute`;\nmsg.payload = `[ \\\"message\\\", \\\"${msg.payload}\\\" ]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["e3d63b4e.c96ba8","84a7c194.57bd3"]]},{"id":"40a811c9.fe617","type":"mqtt in","z":"6d6426b.52961d8","name":"","topic":"mqtt/jacamo/bob","qos":"2","datatype":"auto","broker":"7d5786c9.7bf498","inputs":0,"x":150,"y":460,"wires":[["387fe52c.0e51ea"]]},{"id":"84a7c194.57bd3","type":"http request","z":"6d6426b.52961d8","name":"send","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":590,"y":460,"wires":[["256ee534.47d09a"]]},{"id":"256ee534.47d09a","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":460,"wires":[["a34b5605.60f938"]]},{"id":"a34b5605.60f938","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":460,"wires":[]},{"id":"35115e77489892fe","type":"function","z":"6d6426b.52961d8","name":"create dummy artifact dummy named dmqtt","func":"msg.method = 'POST';\nmsg.url = 'http://mas:8080/workspaces/wmqtt/artifacts/dmqtt';\nmsg.payload = `{ \n                   \\\"template\\\": \\\"jacamo.rest.util.DummyArt\\\",\n                   \\\"values\\\": []\n                }`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":180,"wires":[["4e7c5f85d8f18705"]]},{"id":"4e7c5f85d8f18705","type":"http request","z":"6d6426b.52961d8","name":"send","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":180,"wires":[["f39582e1e2baf81d"]]},{"id":"f39582e1e2baf81d","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":180,"wires":[["e7cdbaa3ddae2ae1"],["0ea83652027b035b"]]},{"id":"e7cdbaa3ddae2ae1","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":180,"wires":[]},{"id":"17ab5c0699a9eead","type":"function","z":"6d6426b.52961d8","name":"ask Bob to focus","func":"var literal = `message(\\\\\\\"${msg.payload}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `http://mas:8080/agents/bob/inbox`;\nmsg.payload = `{ \n                   \\\"sender\\\": \\\"nodered\\\", \n                   \\\"receiver\\\": \\\"bob\\\", \n                   \\\"performative\\\": \\\"achieve\\\", \n                   \\\"content\\\": \\\"jcm::focus_env_art(art_env(wmqtt,dmqtt,ns1),5)\\\", \n                   \\\"msgId\\\": \\\"13\\\"\n                }`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":360,"wires":[["e02f0477504742df"]]},{"id":"e02f0477504742df","type":"http request","z":"6d6426b.52961d8","name":"send acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":360,"wires":[["162e8d59d1cbdc43"]]},{"id":"162e8d59d1cbdc43","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":360,"wires":[["2c93cfe33e79d74e"],[]]},{"id":"2c93cfe33e79d74e","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":360,"wires":[]},{"id":"0ea83652027b035b","type":"function","z":"6d6426b.52961d8","name":"create observable property called 'message'","func":"msg.method = 'POST';\nmsg.url = 'http://mas:8080/workspaces/wmqtt/artifacts/dmqtt/operations/doDefineObsProperty/execute';\nmsg.payload = `[ \n                   \\\"message\\\", \\\"start\\\"\n                ]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":240,"wires":[["d839e910f435fb2b"]]},{"id":"d839e910f435fb2b","type":"http request","z":"6d6426b.52961d8","name":"send","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":240,"wires":[["e97675d510440f8e"]]},{"id":"e97675d510440f8e","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":240,"wires":[["c9f0773270ccd5a6"],["8a0dce98e7f0b50e"]]},{"id":"c9f0773270ccd5a6","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":240,"wires":[]},{"id":"8a0dce98e7f0b50e","type":"function","z":"6d6426b.52961d8","name":"create call back to node red for actions","func":"msg.method = 'POST';\nmsg.url = 'http://mas:8080/workspaces/wmqtt/artifacts/dmqtt/operations/register/execute';\nmsg.payload = `[ \\\"http://nodered:1880/act\\\" ]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["dfa974ba20433e18"]]},{"id":"dfa974ba20433e18","type":"http request","z":"6d6426b.52961d8","name":"send","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":300,"wires":[["40deb66ef23179d4"]]},{"id":"f76a3a0329ebfece","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":300,"wires":[]},{"id":"40deb66ef23179d4","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":300,"wires":[["f76a3a0329ebfece"],["17ab5c0699a9eead"]]}]