demos/integration/mqtt-art-nodered/node-red/flows/flows.json
[{"id":"6d6426b.52961d8","type":"tab","label":"Demo JaCaMo / Node-RED","disabled":false,"info":""},{"id":"7d5786c9.7bf498","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e59df08.6f191","type":"comment","z":"6d6426b.52961d8","name":"send MQTT publications to mqtt artifact","info":"","x":210,"y":420,"wires":[]},{"id":"97122368.a06b3","type":"mqtt out","z":"6d6426b.52961d8","name":"","topic":"","qos":"2","retain":"","broker":"7d5786c9.7bf498","x":670,"y":660,"wires":[]},{"id":"ab769cf1.80ab6","type":"http in","z":"6d6426b.52961d8","name":"","url":"/act","method":"post","upload":false,"swaggerDoc":"","x":120,"y":660,"wires":[["dfb03826.3d6ce8","c4bc63d5.c2b88","2d3cc8e5273011df"]]},{"id":"c4bc63d5.c2b88","type":"function","z":"6d6426b.52961d8","name":"publish to mqtt/jacamo/me","func":"var content = msg.payload.predicate.replace(/\\\"/g,''); // retira aspas\n//var functor = content.substring(0, content.search(\"\\\\(\"));\nmsg.payload = content //.substring(functor.length + 1, content.length - 1);\nmsg.topic = 'mqtt/jacamo/me';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":660,"wires":[["97122368.a06b3","2d3cc8e5273011df"]]},{"id":"dfb03826.3d6ce8","type":"http response","z":"6d6426b.52961d8","name":"","statusCode":"","headers":{},"x":310,"y":740,"wires":[]},{"id":"80d03538.37f6a8","type":"comment","z":"6d6426b.52961d8","name":"node-red endpoint to receive actions done by Bob on dmqtt and send them to MQTT","info":"","x":360,"y":600,"wires":[]},{"id":"c74278f088848911","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":120,"wires":[]},{"id":"2d3cc8e5273011df","type":"debug","z":"6d6426b.52961d8","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":740,"wires":[]},{"id":"e3d63b4e.c96ba8","type":"debug","z":"6d6426b.52961d8","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":520,"wires":[]},{"id":"387fe52c.0e51ea","type":"function","z":"6d6426b.52961d8","name":"build post","func":"msg.method = 'POST';\nmsg.url = `http://mas:8080/workspaces/wmqtt/artifacts/mqtt/operations/update/execute`;\nmsg.payload = `[ \\\"${msg.payload}\\\" ]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["e3d63b4e.c96ba8","84a7c194.57bd3"]]},{"id":"40a811c9.fe617","type":"mqtt in","z":"6d6426b.52961d8","name":"","topic":"mqtt/jacamo/bob","qos":"2","datatype":"auto","broker":"7d5786c9.7bf498","inputs":0,"x":150,"y":460,"wires":[["387fe52c.0e51ea"]]},{"id":"84a7c194.57bd3","type":"http request","z":"6d6426b.52961d8","name":"send","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":590,"y":460,"wires":[["256ee534.47d09a"]]},{"id":"256ee534.47d09a","type":"switch","z":"6d6426b.52961d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":460,"wires":[["a34b5605.60f938"]]},{"id":"a34b5605.60f938","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":460,"wires":[]},{"id":"e7cdbaa3ddae2ae1","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":180,"wires":[]},{"id":"2c93cfe33e79d74e","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":360,"wires":[]},{"id":"c9f0773270ccd5a6","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":240,"wires":[]},{"id":"f76a3a0329ebfece","type":"debug","z":"6d6426b.52961d8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":300,"wires":[]}]